*{
	margin: 0;
	padding: 0;
	font-family: read;
}
html, body {
    max-width: 100%;
    overflow-x: hidden; 
}
@font-face {
    font-family: 'metal';
    src: url('fonts/Sorrier-Statements.woff2') format('woff2'),
        url('fonts/Sorrier-Statements.woff') format('woff'),
        url('fonts/Sorrier-Statements.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'read';
    src: url('fonts/Inthedark.woff2') format('woff2'),
        url('fonts/Inthedark.woff') format('woff'),
        url('fonts/Inthedark.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.header{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(247, 57, 255, 0.2),rgba(24, 8, 24, 0.2)),url(images/background.png);
	background-position: center;
	background-size: cover;
	position: relative;
}
nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}
nav img{
	width: 120px;
	transition: 0.5s;
}
nav img:hover{
	filter: invert(100%);
}
.nav-links{
	flex: 1;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 24px;
	position: relative;
}
.nav-links ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 50px;
	font-family: metal;
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #b800e6;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width: 100%;
}
.text-box{
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.text-box h1{
	font-size: 128px;
}
.text-box p{
	margin: 10px 0 40px;
	font-size: 36px;
	color: #fff;
}
.hero-btn{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 36px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.hero-btn:hover{
	border: 1px solid #b800e6;
	background: #b800e6;
	transition: 1s;
}
nav .fa{
	display: none;
}
@media(max-width: 1000px){
	.modal-content {
		width: 100%;
	}
	.nav-links ul li{
		display: block;
	}
	.nav-links ul li a{
		font-size: 100px;
	}
	.nav-links{
		position: fixed;
		background: linear-gradient(to left, #9900cce1 0%, #660066e0 100%);
		height: 100vh;
		width: 325px;
		top: 0;
		right: -350px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}
	.text-box h1{
		font-size: 150px;
	}
	nav .fa{
		display: block;
		color: #fff;
		margin: 10px;
		font-size: 25px;
		cursor: pointer;
	}
	.nav-links ul{
		padding: 50px;
	}
	.overlay-text{
	  color: #777;
	  font-size: 36px;
	  font-weight: 300;
	  line-height: 22px;
	  padding: 10px;
  }
}
 /*------------members------------- */
.members{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
h1{
	  font-size: 128px;
	  font-wight: 600;
}

.row{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
.member-col{
	flex-basis: 30%;
	background: linear-gradient(to left, #9900cc 0%, #660066 100%);
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
}
h3{
	font-size: 60px;
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}
.overlay-text{
	 color: #777;
	 font-size: 36px;
	 font-weight: 300;
	 line-height: 22px;
	 padding: 10px;
}
.member-col:hover{
	box-shadow: 0 0 60px rgba(0,0,0,0.6);
}
.member-img{
	max-width: 60%;
	height: 200px;
	transition: 0.5s;
}
.member-img:hover{
	filter: invert(100%);
}
@media(max-width: 1350px){
	.row{
		flex-direction: column;
	}
}
 /*------------footer------------- */
.footer{
	  width: 100%;
	  text-align: center;
	  padding: 30px 0;
 }
.footer:h2{
	  margin-bottom: 25;
	  margin-top: 22;
	  margin-weight: 600;
 }
.icons .fa{
	color: #b800e6;
	margin: 0 13px;
	cursor: pointer;
	padding: 18px 0;
	font-size: 25px;
}

/*------------about us------------- */

.sub-header{
	min-height: 50vh;
	width: 100%;
	background-image: linear-gradient(rgba(247, 57, 255, 0.5),rgba(24, 8, 24, 0.5)),url(images/about-background.png);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
	position: relative;
}
.about-us{
	width: 80%;
	margin: auto;
	padding-top: 0px;
	padding-bottom: 50px;
}
.about-title h1{
	padding-top: 30px;
	font-size: 64px;
	text-align: center;
	
}
.about-col p{
	padding: 0px 25px 25px;
	font-size: 24px;
	font-family: "Garamond", Times, serif;;
	/*border: 4mm ridge rgba(87, 87, 87, 0.655);*/
}
.about-col{
	flex-basis: 48%;
	padding: 20px 2px;
}
.about-col img{
	width: 80%;
	box-shadow: 0 0 60px rgba(0,0,0,1);
	border-radius: 10px;
	box-sizing: border-box;
	display: block;
	margin: 0 auto;
	
}
@media(max-width: 1350px){
	.about-col p{
		font-size: 28;
	}
}
/*------------art------------- */

.art-header{
	min-height: 50vh;
	width: 100%;
	background-image: linear-gradient(rgba(247, 57, 255, 0.2),rgba(24, 8, 24, 0.2)),url(images/art-background.png);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
	position: relative;
}
.art-text-box h1{
	font-size: 128px;
}
.art-col{
	flex-basis: 30%;
	border-radius: 5px;
	margin-bottom: 5%;
	padding: 20px 12px;
	transition: 0.5s;
	text-align: center;
	transition: .05s;
}
.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
#caption p{
	font-family: "Garamond", Times, serif;
	font-size: 36px;
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 80px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.myImg:hover {
	opacity: 0.7;
}
